#include "keys_ru.h"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        cap_sen: cap_sen {
            compatible = "zmk,behavior-hold-tap";
            label = "CAP_SEN";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            hold-while-undecided;
        };
    };

    combos {
        compatible = "zmk,combos";

        layerRu {
            bindings = <&layerRU>;
            key-positions = <4 3>;
        };

        layerEn {
            bindings = <&ruEn_shift_alt>;
            key-positions = <7 8>;
        };

        ctrl_alt_del {
            bindings = <&ctrl_alt_del>;
            key-positions = <15 20>;
        };

        password {
            bindings = <&password>;
            key-positions = <16 19>;
        };

        ruEnSystem {
            bindings = <&ruEn_shift_ctrl>;
            key-positions = <13 22>;
        };
    };

    macros {
        ruEn_shift_alt: ruen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ALT)>;
            label = "RUEN";
        };

        ruEn_shift_ctrl: ruEn_shift_ctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LCTRL)>;
            label = "RUEN_SHIFT_CTRL";
        };

        ctrl_alt_del: ctrl_alt_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(DELETE))>;
            label = "CTRL_ALT_DEL";
        };

        password: password {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(A) &kp N &kp A &kp N &kp A &kp S &kp N4 &kp N6 &kp N1 &kp N3 &kp N3 &kp N7 &kp N4 &kp EXCL>;
            label = "PASSWORD";
        };

        layerRU: layerRU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&ruEn_shift_ctrl &to 1>;
            label = "LAYERRU";
        };

        layerEn: layerEn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&ruEn_shift_ctrl &to 0>;
            label = "LAYEREN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC    &kp Q  &kp W     &kp E     &kp R             &kp T                                &kp Y      &kp U  &kp I  &kp O  &kp P  &kp BSPC
&kp TAB    &kp A  &kp S     &kp D     &kp F             &kp G                                &kp H      &kp J  &kp K  &kp L  &none  &none
&kp LSHFT  &kp Z  &kp X     &kp C     &kp V             &kp B                                &kp N      &kp M  &none  &none  &none  &kp RSHFT
                  &kp LALT  &kp LGUI  &kp LEFT_CONTROL  &kp SPACE  &lt 2 COMMA    &lt 4 DOT  &kp ENTER  &mo 7  &none  &none
            >;

            display-name = "Base";
        };

        ru {
            bindings = <
&kp ESC         &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                                  &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA  &kp RU_CYRILLIC_SHCHA      &kp RU_CYRILLIC_ZE   &kp BSPC
&kp TAB         &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                                  &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O          &kp RU_CYRILLIC_EL   &kp RU_CYRILLIC_DE         &kp RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_IO
&kp LEFT_SHIFT  &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I                                   &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE   &kp RU_CYRILLIC_YU         &kp RU_CYRILLIC_E    &kp RIGHT_SHIFT
                                         &kp LALT              &kp LEFT_GUI        &kp LCTRL           &kp SPACE           &lt 3 RU_COMMA    &lt 5 RU_DOT  &kp ENTER           &mo 7                      &kp RU_CYRILLIC_HA   &kp RU_CYRILLIC_HARD_SIGN
            >;

            display-name = "ru";
        };

        sym {
            bindings = <
&trans          &trans  &kp F1   &kp F2   &kp F3  &none                      &none     &kp RU_NUMERO  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE  &kp SLASH
&trans          &none   &kp F4   &kp F5   &kp F6  &none                      &kp DLLR  &kp EXCL       &kp QMARK             &kp AT_SIGN            &kp SEMI   &kp BACKSLASH
&kp LEFT_SHIFT  &none   &kp F7   &kp F8   &kp F9  &kp F10                    &none     &kp POUND      &kp LESS_THAN         &kp GREATER_THAN       &kp SQT    &kp RIGHT_SHIFT
                        &kp F11  &kp F12  &trans  &kp SPACE  &none    &mo 6  &trans    &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET
            >;

            display-name = "Symbols";
        };

        ruSymbol {
            display-name = "Symbols";
            bindings = <
&trans          &trans  &kp F1   &kp F2   &kp F3  &none                      &none     &kp RU_NUMERO  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE         &kp RU_SLASH
&trans          &none   &kp F4   &kp F5   &kp F6  &none                      &kp DLLR  &kp RU_EXCL    &kp RU_QMARK          &kp AT_SIGN            &kp RU_SEMICOLON  &kp NON_US_BACKSLASH
&kp LEFT_SHIFT  &none   &kp F7   &kp F8   &kp F9  &kp F10                    &none     &kp POUND      &kp LESS_THAN         &kp GREATER_THAN       &kp SQT           &kp RIGHT_SHIFT
                        &kp F11  &kp F12  &trans  &kp SPACE  &none    &mo 6  &trans    &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET
            >;
        };

        nav {
            bindings = <
&trans          &kp PERCENT   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS                   &none  &none      &kp UP    &none            &none  &kp DELETE
&kp CAPSLOCK    &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS                  &none  &kp LEFT   &kp DOWN  &kp RIGHT_ARROW  &none  &none
&kp LEFT_SHIFT  &kp FSLH      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTRK                  &none  &kp CARET  &none     &none            &none  &kp RIGHT_SHIFT
                              &trans        &trans        &kp EQUAL     &kp SPACE  &mo 6    &none  &none  &trans     &none     &none
            >;

            display-name = "Navigation";
        };

        ruNavigation {
            display-name = "Navigation";
            bindings = <
&trans          &kp PERCENT   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS                      &none  &none      &kp UP    &none            &none  &kp DELETE
&kp CAPS        &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS                     &none  &kp LEFT   &kp DOWN  &kp RIGHT_ARROW  &none  &none
&kp LEFT_SHIFT  &kp FSLH      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTRK                     &none  &kp CARET  &none     &none            &none  &kp RIGHT_SHIFT
                              &trans        &trans        &kp RU_EQUAL  &kp RU_SPACE  &mo 6    &none  &none  &trans     &none     &none
            >;
        };

        ruSymbol {
            display-name = "Symbols";
            bindings = <
&trans          &trans  &kp F1   &kp F2   &kp F3  &none                      &none     &kp RU_NUMERO  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE         &kp RU_SLASH
&trans          &none   &kp F4   &kp F5   &kp F6  &none                      &kp DLLR  &kp RU_EXCL    &kp RU_QMARK          &kp AT_SIGN            &kp RU_SEMICOLON  &kp NON_US_BACKSLASH
&kp LEFT_SHIFT  &none   &kp F7   &kp F8   &kp F9  &kp F10                    &none     &kp POUND      &kp LESS_THAN         &kp GREATER_THAN       &kp SQT           &kp RIGHT_SHIFT
                        &kp F11  &kp F12  &trans  &kp SPACE  &none    &mo 6  &trans    &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &mo 9   &mkp MB3  &mkp MB2  &mkp MB1  &mo 8                     &mo 8   &mkp MB1  &mkp MB2  &mkp MB3  &mo 9   &trans
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "mouse";
        };

        ruNavigation {
            display-name = "Navigation";
            bindings = <
&trans          &kp PERCENT   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS                      &none  &none      &kp UP    &none            &none  &kp DELETE
&kp CAPS        &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS                     &none  &kp LEFT   &kp DOWN  &kp RIGHT_ARROW  &none  &none
&kp LEFT_SHIFT  &kp FSLH      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTRK                     &none  &kp CARET  &none     &none            &none  &kp RIGHT_SHIFT
                              &trans        &trans        &kp RU_EQUAL  &kp RU_SPACE  &mo 6    &none  &none  &trans     &none     &none
            >;
        };

        adj {
            bindings = <
&bootloader  &none  &none  &none  &none  &none                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none        &none  &none  &none  &none  &none                  &out OUT_BLE  &kp C_VOL_DN  &kp K_MUTE        &kp C_VOL_UP  &none         &studio_unlock
&none        &none  &none  &none  &none  &none                  &out OUT_USB  &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &none         &none
                    &none  &none  &none  &none  &none    &none  &none         &none         &none             &none
            >;

            display-name = "Adjust";
        };

        sniper {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans                    &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "Sniper";
        };

        User0 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "User0";
        };

        User1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "User1";
        };
    };
};

&trackball { cpi = <1200>; };

&trackball_listener {
    input-processors = <&zip_xy_scaler 9 20>;

    scroller {
        layers = <5>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_scaler 1 32>,
            <&zip_xy_to_scroll_mapper>;
    };

    sniper {
        layers = <6>;
        input-processors = <&zip_xy_scaler 1 4>;
    };
};
